/* Reset */
h1,h2,h3,h4,h5,h6,p {margin:0.2em 0;}
h1 {font-size:3.2em;}
body {margin:0px;padding:0px;}

/* Metro */
body {font-family: Segoe UI,Tahoma,Arial,Verdana,sans-serif;}

/* == Layout base == */
.tile-single,.tile-single>div,.tile-single>li,.header-single {width:150px;}
.tile-double,.tile-double>div,.tile-double>li,.header-double {width:310px;}
.tile-triple,.tile-triple>div,.tile-triple>li,.header-triple {width:470px;}
.header-four {width:630px;}
.header-six {width:950px;}
.tile-quarter,.tile-quarter>div,.tile-quarter>li,.header-quarter {width:70px;}

.metro-container-six {width:960px;}
.metro-container-four {width:640px;}
.metro-container-triple {width:480px;}
.metro-container-double {width:320px;}
.metro-container-single {width:160px;}
.metro-container-quarter {width:80px;}

/* == Headers == */
.header-single-half,
.header-double-half,
.header-triple-half,
.header-four-half,
.header-six-half {
	height:35px;
	margin:0 5px;
}

.header-six,
.header-four,
.header-triple,
.header-double,
.header-single,
.header-quarter {
	height:70px;
	margin:0 5px;
}

.header-double-half {width:310px;}
.header-six-half {width:950px;}

/* Fluid containers */
.metro-container-six-fluid {max-width:960px;}
.metro-container-four-fluid {max-width:640px;}
.metro-container-double-fluid {max-width:320px;}
.metro-container-single-fluid {max-width:160px;}

/* Used for containing a set of tiles within a set of tiles */
.metro-container-quarter.inner,
.metro-container-single.inner,
.metro-container-double.inner,
.metro-container-triple.inner,
.metro-container-four.inner,
.metro-container-six.inner{
	float:left;
}

.tile-single,
.tile-double,
.tile-triple,
.tile-quarter,
.header-single,
.header-double,
.header-triple,
.header-four,
.header-six,
.header-quarter
.header-single-half,
.header-double-half,
.header-triple-half,
.header-four-half,
.header-six-half {
	position:relative;
	float:left;
	overflow:hidden;
	padding:0;
}

.tile-single,
.tile-double,
.tile-triple {
	height:150px;
	margin:5px;
}

.tile-quarter {height:70px; margin:5px;}

.tile-single>div,.tile-single>li,
.tile-double>div,.tile-double>li,
.tile-triple>div,.tile-triple>li,
.tile-quarter>div,.tile-quarter>li{
	height:150px;
}

/* HERO:
	A hero unit is used for drawing a users attention.
	The hero is always the size of its container
	and the hero-double refers to its height.
	Place the hero inside a inner container if you
	want it to flow with a tile layout.
*/
.hero {width:100%;margin:5px;height:150px;}
.hero.double{height:310px;}

/* == temp == */
.twitter,
.microsoft,
.heart,
.game,
.me,
.work,
.music {
	background-repeat: no-repeat;
	background-position: center center
}
.twitter {background-image: url('../images/twitter.png');}
.tile-quarter.twitter {background-image: url('../images/twitter-quarter.png');}
.microsoft {background-image:url('../images/microsoft.png');}
.heart {background-image:url('../images/heart.png');}
.game {background-image:url('../images/joystick.png');}
.me {background-image:url('../images/user.png');}
.work {background-image:url('../images/work.png');}
.music {background-image:url('../images/headphone.png');}
.help-mini {background-image:url('../images/help-mini.png');}
.search-mini {background-image:url('../images/search-mini.png');}
.mail-mini {background-image:url('../images/mail-mini.png');}

/* == Utility classes == */
.clear {clear: both;}
.center {margin-left:auto;margin-right:auto;}
.right {float:right;}