.microsoft,
.wp,
.facebook,
.github,
.twitter,
.linkedin,
.youtube,
.desktop,
.code {
	background-image: url('../images/icons/tiles.png');
	background-repeat: no-repeat;
}
.microsoft {background-position:0px 0px}
.wp{background-position: 0px -128px;}
.facebook{background-position:0px -256px;}
.github{background-position:0px -384px;}
.twitter{background-position:0px -512px;}
.linkedin{background-position: 0px -640px;}
.youtube{background-position: 0px -768px;}
.desktop {background-position: 0px -896px;}
.code {background-position: 0px -1024px;}
